In [8]:
import pandas as pd
import nltk
from itertools import chain
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [4]:
import csv
import pandas as pd

Mounted at /drive

In [5]:
df = pd.read_csv("/Users/segurithvik/Downloads/True.csv") #reading csv files
df2 = pd.read_csv('/Users/segurithvik/Downloads/Fake.csv')

# Pre processing: Step1 : Tokenization

Tokenization helps us to break a piece of text to individual units, in our case since we have a lot of data in text if we tokenize the text will be broken into individual pieces/units which will make our job lot easy to understand.

In [9]:
truth = df['text']
truth_tokens0 = []
for i in truth:
        tokens = nltk.word_tokenize(i)
        truth_tokens0.append(tokens) #tokenizing the text column, here it tokenizes each in row in the text column

In [10]:
fake = df2['text']
fake_tokens0 = []
for i in fake:
        tokens1 = nltk.word_tokenize(i)
        fake_tokens0.append(tokens1)

In [11]:
truth_tokens = list(chain.from_iterable(truth_tokens0))

In [12]:
fake_tokens = list(chain.from_iterable(fake_tokens0))

# Step 2 : Lowercase

Lower casing all the letters helps us to standardize the text

In [13]:
truth_lower = [i.lower() for i in truth_tokens] #converting all characters to lower case

In [14]:
fake_lower = [j.lower() for j in fake_tokens]

# Step 3 : Filtering Text

This helps us to only concentrate on the words in the text by eliminating the other characters

In [15]:
truth_words = [w for w in truth_lower if w.isalpha()] #updating only words from the text

In [16]:
fake_words = [v for v in fake_lower if v.isalpha()]

# Step 4 : Stopwords

Usually stop words are very common words like the, and, is which do not carry much of a significant meaning, so we try to remove the stop words so that text can get better for analysing, this will help us to focus more on key words, since we need to distinguish between the true and fake articles , removing stop words can help us focus more on the problem statement

In [17]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [18]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [19]:
nltk_stop = nltk.corpus.stopwords.words('english')

In [20]:
truth_stop = [i for i in truth_words if i in nltk_stop] #finding stop words

In [21]:
fake_stop = [j for j in fake_words if j in nltk_stop]

In [22]:
truth_withoutstop = [i for i in truth_words if i not in nltk_stop] #removing the stop words from the text

In [23]:
fake_withoutstop = [j for j in fake_words if j not in nltk_stop]

# Step 5: Lemmatization

Lemmatization helps in normalizing the text, it helps us to reduce the unique words in our data set, which helps us a lot during the further analysis

In [24]:
nltk.download('wordnet')
nltk.download('omw-1.4')
wnl = nltk.WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [25]:
truth_withoutstopLemma= [wnl.lemmatize(j) for j in truth_withoutstop] #lemmatizing the words without stop words

In [26]:
fake_withoutstopLemma= [wnl.lemmatize(l) for l in fake_withoutstop]

# Data Analysis 1:
Here we are doing the frequency distribution for top 50 content words, we are using the the text which does not contain stop words and is lemmatized, after that we are performing the frequency distribution.

The truth data set has more formal words when compared to the fake dataset. The truth data set focuses more on the political stuff where as in the fake dataset we can see general words like video, image, via. The truth dataset covers about Trump and Clinton, where as in the fake dataset the covers text about trump, hilary and Obama.

In [27]:
from nltk import FreqDist
fdist = FreqDist(truth_withoutstopLemma) #frequency distribution for text without stop words

In [28]:
fdist1 = FreqDist(fake_withoutstopLemma)

In [29]:
truth_top50content = fdist.most_common(50)

for i in truth_top50content:
    print (i)  # finding the top 50 content words for true data set

('said', 99037)
('trump', 54280)
('state', 36243)
('would', 31526)
('reuters', 28412)
('president', 26939)
('republican', 22098)
('government', 19433)
('year', 18721)
('house', 16906)
('new', 16784)
('also', 15946)
('united', 15576)
('people', 15207)
('party', 14964)
('official', 14575)
('told', 14244)
('country', 13948)
('election', 13910)
('could', 13709)
('one', 13025)
('last', 12631)
('washington', 12419)
('two', 11620)
('group', 11104)
('campaign', 11079)
('former', 10601)
('leader', 10504)
('donald', 10447)
('week', 10426)
('security', 10382)
('court', 10338)
('percent', 9937)
('say', 9934)
('north', 9870)
('minister', 9541)
('clinton', 9504)
('white', 9500)
('tax', 9230)
('law', 9221)
('senate', 9206)
('obama', 9197)
('time', 9048)
('vote', 8981)
('month', 8754)
('china', 8564)
('first', 8550)
('national', 8534)
('statement', 8522)
('administration', 8378)

In [30]:
fake_top50content = fdist1.most_common(50)

for i in fake_top50content:
    print (i) # finding the top 50 content words for fake data set

('trump', 74403)
('said', 31149)
('president', 26340)
('people', 26098)
('one', 23812)
('would', 23461)
('state', 22072)
('clinton', 18717)
('like', 18207)
('obama', 17920)
('time', 17885)
('donald', 17235)
('american', 16093)
('republican', 16061)
('say', 15528)
('also', 15243)
('year', 14843)
('new', 14198)
('news', 14198)
('u', 14181)
('image', 13937)
('even', 13692)
('hillary', 13678)
('white', 13146)
('right', 12698)
('get', 12230)
('know', 11947)
('make', 11534)
('via', 11355)
('woman', 11207)
('medium', 11142)
('campaign', 11069)
('house', 10774)
('country', 10770)
('america', 10703)
('could', 10230)
('first', 10041)
('want', 9818)
('think', 9765)
('going', 9750)
('many', 9719)
('way', 9394)
('election', 9297)
('day', 9217)
('told', 9103)
('government', 9079)
('thing', 8962)
('video', 8903)
('made', 8667)
('back', 8611)

# Data Analysis 2:

Here we will be doing the frequency distrubution of top 50 stop words, here we will be using the text after finding out the stop words i.e truth_stop these are the stop words for true dataset.

From our analysis we got that majorly the stop words as same, which are the basic stop words like 'the', 'to', 'of'. In the truth data set we can see stop words 'he', 'his' etc. which are in third person form whereas in the fake dataset, we can see 'I', 'you' which are in first person form. This might indicate that the text in true dataset is formal and in the fake dataset it is informal.

In [31]:
fdist_stop = FreqDist(truth_stop)

In [32]:
fdist1_stop = FreqDist(fake_stop)

In [33]:
truth_top50stop = fdist_stop.most_common(50)

for i in truth_top50stop:
    print (i) # top 50 stopwords for true dataset

('the', 482176)
('to', 245125)
('of', 204959)
('a', 197860)
('and', 181686)
('in', 180673)
('on', 108346)
('s', 99902)
('that', 88116)
('for', 79730)
('is', 55439)
('with', 54485)
('he', 54368)
('it', 49364)
('was', 47940)
('by', 47637)
('as', 47307)
('has', 46243)
('from', 39376)
('his', 38016)
('not', 37594)
('have', 36415)
('be', 34295)
('at', 33164)
('an', 32710)
('who', 27642)
('but', 26596)
('are', 26127)
('had', 25672)
('will', 25241)
('we', 22163)
('they', 22064)
('its', 21319)
('this', 21025)
('which', 20809)
('been', 19600)
('after', 19375)
('were', 18916)
('about', 17425)
('more', 17197)
('i', 17020)
('their', 16826)
('or', 15107)
('over', 13841)
('some', 12752)
('if', 12538)
('she', 11721)
('there', 11642)
('other', 11581)
('than', 11299)

In [34]:
fake_top50stop = fdist1_stop.most_common(50)

for i in fake_top50stop:
    print (i) # Finding the top 50 stop words for fake data set

('the', 528689)
('to', 289665)
('of', 235806)
('and', 224544)
('a', 211092)
('in', 164857)
('that', 150262)
('s', 129641)
('is', 110887)
('for', 92115)
('on', 81354)
('it', 79374)
('he', 77627)
('was', 67794)
('with', 62964)
('his', 58037)
('as', 55978)
('this', 55655)
('be', 48565)
('by', 47387)
('not', 46833)
('are', 46350)
('have', 46038)
('they', 45190)
('i', 43778)
('who', 42327)
('has', 42269)
('at', 41569)
('from', 40754)
('t', 40531)
('you', 40323)
('we', 38205)
('an', 34862)
('about', 32834)
('but', 31426)
('their', 30202)
('she', 25763)
('her', 25705)
('or', 24671)
('what', 24594)
('all', 24455)
('will', 24061)
('been', 22991)
('out', 22925)
('more', 22388)
('if', 22221)
('were', 21608)
('when', 21272)
('can', 20709)
('had', 20425)

# Data Analysis 3:

Here we will be analysing the top 50 frequency bigrams, we will be using the text which is just lower, we will not use the text that is lemmatized and without stop words beacuse reduction in the stop words and punctuation marks leads to reduced text, in our case to find out the differences between the true and fake datasets, having text that is not reduced helps us to provide more insights.

The truth data set, has bigrams like he said, said the etc. which are formal and news driven, whereas the fake dataset has bigrams like it’s, don’t which is informal. The Truth dataset has bigrams like on Wednesday, on Tuesday, where as the fake dataset has verb phrases like is going, has been etc. Same as the above results from bigrams we get that the truth data set is more formal and fake data has more informal words in it.

In [35]:
from nltk.util import ngrams
bigrams = [" ".join(w) for w in ngrams(truth_lower, 2)]
fdist_bigram = FreqDist(bigrams)
fdist_bigram.most_common(50)  # top 50 bigrams for true data set

[('’ s', 54934),
 ('. the', 47832),
 ('of the', 47691),
 ('in the', 41021),
 ('. “', 27274),
 (', the', 27023),
 (', ”', 24486),
 ('to the', 22242),
 ('said .', 21592),
 (') -', 21350),
 ('reuters )', 21251),
 ('( reuters', 21250),
 (', a', 20466),
 ('in a', 18252),
 (', and', 18022),
 ('on the', 16603),
 ('for the', 15427),
 ('the united', 14172),
 (', which', 13829),
 (', said', 13758),
 ('and the', 12142),
 ('united states', 12085),
 (', who', 11875),
 ('trump ’', 11674),
 ('the u.s.', 11653),
 ('with the', 11165),
 ('at the', 10829),
 ('by the', 10474),
 (', but', 10400),
 ('donald trump', 10098),
 ('said on', 10056),
 ('he said', 9756),
 ('to be', 9725),
 ('that the', 9324),
 ('. in', 9145),
 ('of a', 9022),
 ('from the', 8823),
 ('said the', 8789),
 ('. he', 8572),
 ('white house', 8372),
 ('. trump', 8051),
 ('said in', 7991),
 (', he', 7983),
 ('. it', 7909),
 ('. but', 7543),
 ('as a', 7438),
 ('on wednesday', 7284),
 ('on tuesday', 7197),
 ('to a', 7061),
 ('. a', 7013)]

In [36]:
from nltk.util import ngrams
bigrams1 = [" ".join(v) for v in ngrams(fake_lower, 2)]
fdist1_bigram = FreqDist(bigrams1)
fdist1_bigram.most_common(50) #top 50 data set for fake dataset

[('of the', 53862),
 ('in the', 39035),
 (', and', 38041),
 (', the', 29679),
 ('to the', 27634),
 ('. the', 25608),
 ('on the', 18628),
 ('( @', 17770),
 ('it s', 17367),
 ('to be', 16402),
 (', but', 15977),
 ('for the', 15880),
 ('that the', 14404),
 ('and the', 14046),
 ('trump s', 13344),
 ('donald trump', 13215),
 ('. he', 13116),
 ('. it', 13016),
 ('. i', 12831),
 ('at the', 12661),
 ('with the', 11768),
 (', he', 11455),
 ('in a', 11396),
 ('is a', 10889),
 (', a', 10406),
 ('from the', 10208),
 ('by the', 10126),
 ('don t', 9530),
 (', it', 9329),
 ('of a', 9297),
 ('that he', 9149),
 (', which', 8970),
 ('as a', 8900),
 (', who', 8632),
 ('he s', 8133),
 ('. we', 8041),
 ('. and', 8038),
 ('has been', 7721),
 (', i', 7663),
 ('this is', 7642),
 ('. in', 7590),
 ('that s', 7320),
 ('. this', 7284),
 ('one of', 7135),
 ('. but', 7114),
 ('he was', 7023),
 ('it was', 6990),
 ('is the', 6919),
 ('the united', 6885),
 ('going to', 6832)]

# Data Analysis 4:

Here we will be analysing the top 50 frequency bi grams with mutual information and a minimum frequency of 5, We will using just the lower texxt, not the completely pre processed text for our analysis, because of the same reason mentioned above in Analysis 3.

The truth data set contains unique entity bigrams like people, place, organization names etc. Where as the fake data set contains URL links and twitter handles, which indicates the more discussions on social media. In truth data set it appears the bi grams are content driven whereas in the fake data set it has more social media conversations and on top of it we can see that truth data set is more about a similar content whereas the fake data sets has random conversations in social media, this might be the reason why the texts are informal in the fake data set.

If we compare the analysis above(Data Analysis 3), bigrams with mutual information and minimum frequency is providing support to the conclusion we got in analysis 3, which stated that the true data set has text which is formal and fake dataset has text which is informal, in this analysis we got the validation to that conclusion by the URL's in the fake data set and the words formal words like organization ,place in true data set

In [37]:
from nltk.collocations import *
from nltk.collocations import BigramAssocMeasures
from nltk.collocations import BigramCollocationFinder
bigram_measures = nltk.collocations.BigramAssocMeasures()
finder4 = BigramCollocationFinder.from_words(truth_lower)
finder4.apply_freq_filter(5)
scored = finder4.score_ngrams(bigram_measures.pmi)
for bscore in scored[:50]:
    print (bscore) # top 50 bi grams with mutual information(5 min freq) for true data set

(('agua', 'bonita'), 20.830254141762293)
(('clarece', 'polke'), 20.830254141762293)
(('darz', 'aab'), 20.830254141762293)
(('dori', 'esfahani'), 20.830254141762293)
(('doxycycline', 'hyclate'), 20.830254141762293)
(('ejaz', 'ashrafi'), 20.830254141762293)
(('ettore', 'rosato'), 20.830254141762293)
(('jabha', 'shamiya'), 20.830254141762293)
(('kajo', 'keji'), 20.830254141762293)
(('lista', 'marjana'), 20.830254141762293)
(('maale', 'adumim'), 20.830254141762293)
(('marjana', 'sarca'), 20.830254141762293)
(('mohseni', 'ejei'), 20.830254141762293)
(('petroleo', 'brasileiro'), 20.830254141762293)
(('aqeel', 'al-tayyar'), 20.567219735928497)
(('ballard', 'spahr'), 20.567219735928497)
(('beji', 'caid'), 20.567219735928497)
(('caid', 'essebsi'), 20.567219735928497)
(('gudni', 'johannesson'), 20.567219735928497)
(('hammam', 'al-alil'), 20.567219735928497)
(('irina', 'bokova'), 20.567219735928497)
(('jabar', 'al-luaibi'), 20.567219735928497)
(('jakobsd', 'ttir'), 20.567219735928497)
(('malala', 'yousafzai'), 20.567219735928497)
(('marielena', 'hincapie'), 20.567219735928497)
(('mato', 'grosso'), 20.567219735928497)
(('mens', 'rea'), 20.567219735928497)
(('moqtada', 'al-sadr'), 20.567219735928497)
(('murithi', 'mutiga'), 20.567219735928497)
(('najia', 'bounaim'), 20.567219735928497)
(('ngoc', 'nhu'), 20.567219735928497)
(('sinan', 'ulgen'), 20.567219735928497)
(('sobhan', 'chowdhury'), 20.567219735928497)
(('lashkar', 'gah'), 20.344827314592052)
(('palong', 'khali'), 20.344827314592052)
(('satya', 'nadella'), 20.344827314592052)
(('triacetone', 'triperoxide'), 20.344827314592052)
(('verisk', 'maplecroft'), 20.344827314592052)
(('ant', 'nio'), 20.34482731459205)
(('arkady', 'dvorkovich'), 20.34482731459205)
(('bucky', 'hellwig'), 20.34482731459205)
(('gwede', 'mantashe'), 20.34482731459205)
(('hemin', 'hawrami'), 20.34482731459205)
(('kembo', 'mohadi'), 20.34482731459205)
(('linas', 'linkevicius'), 20.34482731459205)
(('maithripala', 'sirisena'), 20.34482731459205)
(('mata', 'pires'), 20.34482731459205)
(('myong', 'guk'), 20.34482731459205)
(('nickolay', 'mladenov'), 20.34482731459205)
(('purwo', 'nugroho'), 20.34482731459205)

In [38]:
bigram_measures1 = nltk.collocations.BigramAssocMeasures()
finder1 = BigramCollocationFinder.from_words(fake_lower)
finder1.apply_freq_filter(5)
scored1 = finder1.score_ngrams(bigram_measures1.pmi)
for bscore in scored1[:50]:
    print (bscore) #top 50 bi grams with mutual information(5 min freq) for fake data set

(('//t.co/ltdtbehhgh', 'pic.twitter.com/t2s8ufif5o'), 21.07391482146583)
(('0000', '0907'), 21.07391482146583)
(('0907', '84b4'), 21.07391482146583)
(('314a', '3453'), 21.07391482146583)
(('3453', '0000'), 21.07391482146583)
(('4d6c', '6330'), 21.07391482146583)
(('5707', '5736'), 21.07391482146583)
(('5774', '6a7a'), 21.07391482146583)
(('6330', '666b'), 21.07391482146583)
(('666b', '314a'), 21.07391482146583)
(('6a7a', '4d6c'), 21.07391482146583)
(('7616', '86f7'), 21.07391482146583)
(('84b4', 'f787'), 21.07391482146583)
(('86f7', 'a737'), 21.07391482146583)
(('a737', '5707'), 21.07391482146583)
(('acab', 'pic.twitter.com/naqnehnd5g'), 21.07391482146583)
(('f787', '7616'), 21.07391482146583)
(('kambree', 'kawahine'), 21.07391482146583)
(('kawahine', 'koa'), 21.07391482146583)
(('lynnette', 'hardway'), 21.07391482146583)
(('managementvideo', 'solutionsvideo'), 21.07391482146583)
(('myocardial', 'infarction'), 21.07391482146583)
(('palos', 'verdes'), 21.07391482146583)
(('pic.twitter.com/pxbrcgypwm', "'gitmo"), 21.07391482146583)
(('platformvideo', 'managementvideo'), 21.07391482146583)
(('r.t.', 'rybak'), 21.07391482146583)
(('today.4767', '5774'), 21.07391482146583)
(('vis-', '-vis'), 21.07391482146583)
(('300m', 'employee-related'), 20.810880415632038)
(('bacha', 'bazi'), 20.810880415632038)
(('bucolic', 'adirondacks'), 20.810880415632038)
(('fern', 'ndez'), 20.810880415632038)
(('kel', 'inen'), 20.810880415632038)
(('miyoshi', 'jager'), 20.810880415632038)
(('mondaiale', 'commerciale'), 20.810880415632038)
(('psi', 'upsilon'), 20.810880415632038)
(('sedrick', 'tydus'), 20.810880415632038)
(('kevork', 'djansezian/getty'), 20.810880415632035)
(('paolo', 'gentiloni'), 20.810880415632035)
(('semper', 'fi'), 20.810880415632035)
(('bendavid', 'grabinski'), 20.58848799429559)
(('dani', 'bostick'), 20.58848799429559)
(('pic.twitter.com/fs297jooqi', 'vivelafrance'), 20.58848799429559)
(('roller', 'coaster'), 20.58848799429559)
(('svenska', 'dagbladet'), 20.58848799429559)
(('yik', 'yak'), 20.58848799429559)
(('283', '-138'), 20.588487994295587)
(('g.k.', 'butterfield'), 20.588487994295587)
(('neilson', 'barnard/getty'), 20.588487994295587)
(('ria', 'novosti'), 20.588487994295587)

# Data Analysis 5:

Here we will be comparing the adjectives from both the datasets with the text that is lemmatized and does not contain stop words,from our analysis we got that the truth data set contains more formal and political oriented adjectives like Presidential, federal etc. where as the adjectives in the fake data set are real, bad etc which are casual. Just like the above analysis so far, the truth dataset has more formal and political text where as the fake data set has more text which is informal and judgemental driven.

In [41]:
nltk.download('averaged_perceptron_tagger')
tagged_token = nltk.pos_tag(truth_withoutstopLemma)
real_adjs = [w for w,p in tagged_token if p=='JJ'] #finding adjectives for true data set

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

In [42]:
tagged_token1 = nltk.pos_tag(fake_withoutstopLemma)
fake_adjs = [v for v,q in tagged_token1 if q=='JJ']

In [43]:
fadjdist = FreqDist(real_adjs)
truth_top50adj = fadjdist.most_common(50)

for k in truth_top50adj:
    print (k) # top 50 adjectives for true data set

('republican', 20246)
('new', 16784)
('united', 13720)
('last', 12631)
('former', 10601)
('white', 9500)
('trump', 9348)
('national', 8534)
('north', 8257)
('democratic', 8235)
('foreign', 8197)
('presidential', 7919)
('military', 7856)
('political', 7699)
('american', 6811)
('many', 6721)
('federal', 6447)
('russian', 5865)
('public', 5124)
('nuclear', 5027)
('general', 4744)
('international', 4737)
('conservative', 4476)
('european', 4361)
('wednesday', 4346)
('official', 4312)
('friday', 4301)
('first', 4300)
('tuesday', 4267)
('prime', 4238)
('right', 4192)
('thursday', 4160)
('next', 4142)
('economic', 4086)
('islamic', 4065)
('senior', 3938)
('top', 3728)
('several', 3555)
('major', 3420)
('korea', 3396)
('representative', 3278)
('monday', 3275)
('south', 3239)
('financial', 3213)
('senate', 3152)
('recent', 3129)
('legal', 2968)
('local', 2916)
('syrian', 2871)
('clear', 2858)

In [44]:
fadjdist1 = FreqDist(fake_adjs)
fake_top50adj = fadjdist1.most_common(50)

for k in fake_top50adj:
    print (k) # top 50 adjectives for fake data set

('american', 16070)
('republican', 14889)
('new', 14198)
('white', 13146)
('hillary', 12814)
('u', 12196)
('trump', 11337)
('many', 9719)
('black', 8047)
('last', 7861)
('political', 7551)
('national', 7204)
('former', 7124)
('right', 6642)
('united', 6611)
('public', 6147)
('donald', 5606)
('presidential', 5580)
('good', 5350)
('first', 5346)
('federal', 5316)
('much', 5247)
('russian', 5001)
('conservative', 4924)
('democratic', 4772)
('great', 4204)
('real', 3732)
('military', 3578)
('general', 3535)
('social', 3485)
('little', 3444)
('clear', 3328)
('big', 3328)
('foreign', 3314)
('obama', 3295)
('free', 3204)
('liberal', 3141)
('several', 3081)
('january', 3052)
('illegal', 3042)
('fox', 3041)
('recent', 2864)
('sure', 2836)
('next', 2775)
('young', 2677)
('bad', 2674)
('entire', 2663)
('terrorist', 2617)
('able', 2606)
('america', 2601)

# More Data analysis:

Here we will be calculating the total number of words of each article, content words, exclamation marks, capital words and total punctuations of all the words in each article.

In [46]:
import string
val = []

for tokens in truth_tokens0:
    content_words = [token for token in tokens if token.isalpha()]
    capital_words = sum(1 for token in tokens if token.isupper() and token != 'I')
    exclamation_marks = tokens.count('!')
    total_punctuations = sum(1 for token in tokens if token in string.punctuation)
    total_words = len(tokens)

    val.append([total_words, len(content_words), exclamation_marks, capital_words, total_punctuations])

t_df = pd.DataFrame(val, columns=['total_words', 'content_word', 'exclamation_marks', 'capital_words', 'total_punctuations'])

In [47]:
t_df #created a data frame with the above 5 variables mentioned above for true data set

,total_words,content_word,exclamation_marks,capital_words,total_punctuations
0,885,730,0,10,94
1,713,606,0,8,56
2,523,457,0,6,41
3,437,373,0,5,42
4,987,820,1,15,111
...,...,...,...,...,...
21412,505,440,0,14,47
21413,142,123,0,1,18
21414,358,307,0,4,40
21415,224,202,0,1,20
21416,233,201,0,3,25

In [48]:
true_final_df = pd.concat([df,t_df], axis = 1) #merged the initial true data set with the the data set created above

In [49]:
true_final_df

,title,text,subject,date,total_words,content_word,exclamation_marks,capital_words,total_punctuations
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",885,730,0,10,94
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",713,606,0,8,56
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",523,457,0,6,41
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",437,373,0,5,42
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",987,820,1,15,111
...,...,...,...,...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",505,440,0,14,47
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",142,123,0,1,18
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",358,307,0,4,40
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",224,202,0,1,20
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",233,201,0,3,25

In [50]:
val1 = []

for tokens in fake_tokens0:
    f_content_words = [token for token in tokens if token.isalpha()]
    f_capital_words = sum(1 for token in tokens if token.isupper() and token != 'I')
    f_exclamation_marks = tokens.count('!')
    f_total_punctuations = sum(1 for token in tokens if token in string.punctuation)
    f_total_words = len(tokens)

    val1.append([f_total_words, len(f_content_words), f_exclamation_marks, f_capital_words, f_total_punctuations])

f_df = pd.DataFrame(val1, columns=['f_total_words', 'f_content_word', 'f_exclamation_marks', 'f_capital_words', 'f_total_punctuations'])

In [51]:
f_df #created a data frame with the above 5 variables mentioned above for Fake data set

,f_total_words,f_content_word,f_exclamation_marks,f_capital_words,f_total_punctuations
0,599,447,6,2,107
1,331,292,0,3,26
2,689,526,2,33,109
3,519,401,0,4,73
4,458,418,0,0,38
...,...,...,...,...,...
23476,553,501,0,19,30
23477,333,284,0,8,35
23478,4591,4037,1,89,420
23479,508,430,0,22,50
23480,981,835,0,41,106

In [52]:
fake_final_df = pd.concat([df2,f_df], axis = 1)
fake_final_df

,title,text,subject,date,f_total_words,f_content_word,f_exclamation_marks,f_capital_words,f_total_punctuations
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",599,447,6,2,107
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",331,292,0,3,26
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",689,526,2,33,109
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",519,401,0,4,73
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",458,418,0,0,38
...,...,...,...,...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",553,501,0,19,30
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",333,284,0,8,35
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",4591,4037,1,89,420
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",508,430,0,22,50
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",981,835,0,41,106

# More Data analysis:
The ratio of the total words of true data to fake data set is 0.84, and we can also clearly see that the there more number of words in Fake data set.

In [53]:
true_total_words_sum = true_final_df['total_words'].sum()
true_total_words_sum

9321833

In [54]:
fake_total_words_sum = fake_final_df['f_total_words'].sum()
fake_total_words_sum

11036986

In [55]:
ratio_total_words = true_total_words_sum/fake_total_words_sum
ratio_total_words

0.8445995129467411

The ratio to the content words in truth data set to fake data set is 0.83, even here we can see that there are more content words in fake data set than true data set

In [56]:
true_content_words_sum = true_final_df['content_word'].sum()
true_content_words_sum

8036004

In [57]:
fake_content_words_sum = fake_final_df['f_content_word'].sum()
fake_content_words_sum

9596094

In [58]:
ratio_content_words = true_content_words_sum/fake_content_words_sum
ratio_content_words

0.8374244770841136

The ratio to the content words in truth data set to fake data set is 0.078, there is a drastic difference between the number of exclamatory marks in fake and true data sets, there are so many exclamatory marks in the fake data set, which is about 15,650 exclamary marks

In [59]:
true_exc_marks_sum = true_final_df['exclamation_marks'].sum()
true_exc_marks_sum

1326

In [60]:
fake_exc_marks_sum = fake_final_df['f_exclamation_marks'].sum()
fake_exc_marks_sum

16976

In [61]:
ratio_exc_marks = true_exc_marks_sum/fake_exc_marks_sum
ratio_exc_marks

0.07811027332704995

The ratio to the capital words in true to fake data set is 0.76, with 172606 capital words in fake data set and 130891 in true data set.

In [62]:
true_cap_words_sum = true_final_df['capital_words'].sum()
true_cap_words_sum

130891

In [63]:
fake_cap_words_sum = fake_final_df['f_capital_words'].sum()
fake_cap_words_sum

172606

In [64]:
ratio_cap_words = true_cap_words_sum/fake_cap_words_sum
ratio_cap_words

0.7583224221637719

Finally we calcuted the total punctuation marks in both the data sets, the ratio of punctuations for true to fake data set is 0.80, with 1,054,418 punctuations in fake data set and 851,595 punctuations in the true Data Set.

All in all, in all the five categories fake data set had more count of Total words, exclamatory marks, punctuations, content words and capital words.

In [65]:
true_punc_sum = true_final_df['total_punctuations'].sum()
true_punc_sum

851609

In [66]:
fake_punc_sum = fake_final_df['f_total_punctuations'].sum()
fake_punc_sum

1054602

In [67]:
ratio_punc = true_punc_sum/fake_punc_sum
ratio_punc

0.8075169590044395

In [68]:
true_final_df.to_csv('true_final.csv', index = False)

In [69]:
fake_final_df.to_csv('fake_final.csv', index = False)